<!DOCTYPE html>
<html style="background-color: #242424" lang="en">
<head>
    <!-- <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>댓글 분석 결과</title>
    
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/landing-page.min.css" rel="stylesheet">
    <link href="css/mycss.css" rel="stylesheet">

    <script type="text/javascript" src="./js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" ></script>

</head>
<body>
     <div id = "heder">
        <div style="max-width: 1400px !important; max-height: max-content;"  class="container">
          <div class="row">
            <div id="result" class="rtitle">
              <h1 id="title">댓글 분석 결과</h1>
            </div>
            <div id = result_div>
              <div class="rcon_top">
              <div class = 'rcon_div_top_l'>단어</div>
                <div class="rcon_div_top_r">댓글</div> 
              </div>
              <div class = 'rcon1' id = "r_container1">
                <div class="rcon_div_n">1.</div>
                <div class='rcon_div_l'><%= words[0] %></div>
                <div class="rcon_div_r"><div class="rcon_div_n_r">1.</div><%= comments[0] %></div>
              </div>
              <div class = 'rcon' id = "r_container2">
                <div class="rcon_div_n">2.</div>
                <div class='rcon_div_l'><%= words[1] %></div>
                <div class="rcon_div_r"><div class="rcon_div_n_r">2.</div><%= comments[1] %></div>
              </div>
              <div class = 'rcon' id = "r_container3">
                <div class="rcon_div_n">3.</div>
                <div class='rcon_div_l'><%= words[2] %></div>
                <div class="rcon_div_r"><div class="rcon_div_n_r">3.</div><%= comments[2] %></div>
              </div>
              <div class = 'rcon' id = "r_container4">
                <div class="rcon_div_n">4.</div>
                <div class='rcon_div_l'><%= words[3] %></div>
                <div class="rcon_div_r"><div class="rcon_div_n_r">4.</div><%= comments[3] %></div>
              </div>
              <div class = 'rcon' id = "r_container5">
                <div class="rcon_div_n">5.</div>
                <div class='rcon_div_l'><%= words[4] %></div>
                <div class="rcon_div_r"><div class="rcon_div_n_r">5.</div><%= comments[4] %></div>
              </div>
              <div class = 'rcon' id = "r_container6">
                <div class="rcon_div_n">6.</div>
                <div class='rcon_div_l'><%= words[5] %></div>
                <div class="rcon_div_r"><div class="rcon_div_n_r">6.</div><%= comments[5] %></div>
              </div>
              <div class = 'rcon' id = "r_container7">
                <div class="rcon_div_n">7.</div>
                <div class='rcon_div_l'><%= words[6] %></div>
                <div class="rcon_div_r"><div class="rcon_div_n_r">7.</div><%= comments[6] %></div>
              </div>
              <div class = 'rcon' id = "r_container8">
                <div class="rcon_div_n">8.</div>
                <div class='rcon_div_l'><%= words[7] %></div>
                <div class="rcon_div_r"><div class="rcon_div_n_r">8.</div><%= comments[7] %></div>
              </div>
              <div class = 'rcon' id = "r_container9">
                <div class="rcon_div_n">9.</div>
                <div class='rcon_div_l'><%= words[8] %></div>
                <div class="rcon_div_r"><div class="rcon_div_n_r">9.</div><%= comments[8] %></div>
              </div>
              <div class = 'rcon' id = "r_container10">
                <div class="rcon_div_n">10.</div>
                <div class='rcon_div_l'><%= words[9] %></div>
                <div class="rcon_div_r"><div class="rcon_div_n_r">10.</div><%= comments[9] %></div>
              </div>
              <div class = 'rcon' id = "r_container11">
                <div class="rcon_div_n">11.</div>
                <div class='rcon_div_l'><%= words[10] %></div>
                <div class="rcon_div_r"><div class="rcon_div_n_r">11.</div><%= comments[10] %></div>
              </div>
              <div class = 'rcon' id = "r_container12">
                <div class="rcon_div_n">12.</div>
                <div class='rcon_div_l'><%= words[11] %></div>
                <div class="rcon_div_r"><div class="rcon_div_n_r">12.</div><%= comments[11] %></div>
              </div>
              <div class = 'rcon' id = "r_container13">
                <div class="rcon_div_n">13.</div>
                <div class='rcon_div_l'><%= words[12] %></div>
                <div class="rcon_div_r"><div class="rcon_div_n_r">13.</div><%= comments[12] %></div>
              </div>
              <div class = 'rcon' id = "r_container14">
                <div class="rcon_div_n">14.</div>
                <div class='rcon_div_l'><%= words[13] %></div>
                <div class="rcon_div_r"><div class="rcon_div_n_r">14.</div><%= comments[13] %></div>
              </div>
              <div class = 'rcon' id = "r_container15">
                <div class="rcon_div_n">15.</div>
                <div class='rcon_div_l'><%= words[14] %></div>
                <div class="rcon_div_r"><div class="rcon_div_n_r">15.</div><%= comments[14] %></div>
              </div>
              <div class = 'rcon' id = "r_container16">
                <div class="rcon_div_n">16.</div>
                <div class='rcon_div_l'><%= words[15] %></div>
                <div class="rcon_div_r"><div class="rcon_div_n_r">16.</div><%= comments[15] %></div>
              </div>
              <div class = 'rcon' id = "r_container17">
                <div class="rcon_div_n">17.</div>
                <div class='rcon_div_l'><%= words[16] %></div>
                <div class="rcon_div_r"><div class="rcon_div_n_r">17.</div><%= comments[16] %></div>
              </div>
              <div class = 'rcon' id = "r_container18">
                <div class="rcon_div_n">18.</div>
                <div class='rcon_div_l'><%= words[17] %></div>
                <div class="rcon_div_r"><div class="rcon_div_n_r">18.</div><%= comments[17] %></div>
              </div>
              <div class = 'rcon' id = "r_container19">
                <div class="rcon_div_n">19.</div>
                <div class='rcon_div_l'><%= words[18] %></div>
                <div class="rcon_div_r"><div class="rcon_div_n_r">19.</div><%= comments[18] %></div>
              </div>
              <div class = 'rcon20' id = "r_container20">
                <div class="rcon_div_n">20.</div>
                <div class='rcon_div_l'><%= words[19] %></div>
                <div class="rcon_div_r"><div class="rcon_div_n_r">20.</div><%= comments[19] %></div>
              </div>
            </div>
            <div id="result" class="rtitle">
              <h1 id="title">단어가 포함된 댓글 검색하기</h1>
            </div>
            <div class = search_bar>
              <form>
                <div class="form-row">
                  <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input id = 'word' type="text" class="form-control form-control-lg" placeholder="단어를 입력해주세요">
                  </div>
                  <div style="display: flex;width: 100% !important;" class="btn-div col-12 col-md-3">
                    <button style="width: 62%;" type="button" onclick="search()" class="btn-new-sr">검색하기</button>
                  </div>
                </div>
              </form>
            </div>
            <div id="ws_result"></div>
          </div>
        </div>
      </div>
      <script>            
            function search() { 
                var ws_result = document.getElementById('ws_result');
                ws_result.innerHTML = '';
                const comment = [];
                const word = document.getElementById('word').value;
                var x = 1;
                '<% for(var i = 0; i < full_comments.length ; i++) { %>'
                    if('<%=full_comments[i]%>'.indexOf(word) != -1) {
                        comment.push('<%=full_comments[i]%>');
                        var make_div = document.createElement('div')
                        make_div.innerHTML = x + '.  ' + '<%=full_comments[i]%>';
                        make_div.setAttribute("class", "srdiv");
                        ws_result.appendChild(make_div)
                        x++;
                    }
               '<% } %>'
                document.getElementById('word').value = null;
            }
      </script>
</body>
</html>