<!DOCTYPE html>
<html style="background-color: #242424" lang="en">
<head>
    <!-- <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>댓글 분석 결과</title>
    
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/landing-page.min.css" rel="stylesheet">
    <link href="css/mycss.css" rel="stylesheet">
    <link href="css/result.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud.css" rel="stylesheet"/>


    <script type="text/javascript" src="./js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud-1.0.4.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

</head>
<body>
     <div id = "heder">
        <div style="max-width: 100% !important; max-height: max-content; padding: 0px !important;"  class="container">
          <div class = "raw">
            <div id="result" class="rtitle">
              <h1 id="title">댓글 분석 결과</h1>
            </div>
            <div id = "result_page">
              <div class="templatebody1">
                <div class=maintext1>
                    <div class="maintext11">
                      <p class="text123">단어가 포함된 댓글 검색하기</p>
                      <div class = search_bar>
                        <form>
                          <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                              <input id = 'word' type="text" class="form-control form-control-lg" placeholder="단어를 입력해주세요">
                            </div>
                            <div style="display: flex;width: 100% !important;" class="btn-div col-12 col-md-3">
                              <button style="width: 35%;" type="button" onclick="search()" class="btn-new-sr">검색하기</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div id = "ws_result_div">
                      <div id="ws_result"></div>
                    </div> 
                  </div>
                
                <div class="chartbox">
                  <div class="chartbox1">
                      <p class="text123"> 댓글에서 많이 나온 단어 상위 20개</p>
                          <canvas id="myChart" width="500" height="350"></canvas>
                  </div>  
                  <div class="chartbox2">
                    <div id="example" style="width: 90%; height: 90%;"></div>
                  </div>
                  <script>
                    var word_array = [
                     {text: "Lorem", weight: 15},
                     {text: "Ipsum", weight: 9, link: "http://jquery.com/"},
                     {text: "Dolor", weight: 6, html: {title: "I can haz any html attribute"}},
                     {text: "Sit", weight: 7},
                     {text: "Amet", weight: 5}
                     // ...as many words as you want
                    ];
                
                    $(function() {
                      // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
                      $("#example").jQCloud(word_array);
                    });
            
                  </script>
              </div>
                <div class="link1">
                  <div class="link12">
                      <div class="text123"><p>좋아요가 높은 댓글 TOP 20</p></div>
                        <div class="selecter_r_div">
                          <% for(var i = 0; i < 10 ; i++) { %>
                            <h5><%= i + 1 %>. <%= comments[i] %></h5>
                          <% } %>
                        </div>
                        <div class="selecter_r_div">
                          <% for(var i = 10; i < 20 ; i++) { %>
                            <h5><%= i + 1 %>. <%= comments[i] %></h5>
                          <% } %>
                        </div>
                      </div>
                  </div>
                  </div>
            </div>
        </div>
        
        <script>
            var words = [];
            '<% for(var i = 0; i < 20 ; i++) { %>'
                words.push('<%= words[i] %>');
            '<% } %>'
            var ctx = document.getElementById("myChart"); 
            var myChart = new Chart(ctx, { 
              type: 'bar', 
              data: { 
                labels: words, 
                datasets: [ 
                  { label: 'Top word', 
                    data: [123, 113, 106, 98, 91, 84, 76, 68, 62, 57, 51, 48, 42, 38, 35, 32, 28, 24, 19, 15], 
                    backgroundColor :['rgba(255, 99, 132, 0.2)', 
                            'rgba(54, 162, 235, 0.2)', 
                            'rgba(255, 206, 86, 0.2)', 
                            'rgba(75, 192, 192, 0.2)', 
                            'rgba(153, 102, 255, 0.2)', 
                            'rgba(255, 159, 64, 0.2)' ,
                            'rgba(255, 99, 132, 0.2)', 
                            'rgba(54, 162, 235, 0.2)', 
                            'rgba(255, 206, 86, 0.2)', 
                            'rgba(75, 192, 192, 0.2)', 
                            'rgba(153, 102, 255, 0.2)', 
                            'rgba(255, 159, 64, 0.2)' ,
                            'rgba(255, 99, 132, 0.2)', 
                            'rgba(54, 162, 235, 0.2)', 
                            'rgba(255, 206, 86, 0.2)', 
                            'rgba(75, 192, 192, 0.2)', 
                            'rgba(153, 102, 255, 0.2)', 
                            'rgba(255, 159, 64, 0.2)' ,
                            'rgba(255, 99, 132, 0.2)'               
            ], 
              
            borderColor: [ 
                            'rgba(255,99,132,1)', 
                            'rgba(54, 162, 235, 1)', 
                            'rgba(255, 206, 86, 1)', 
                            'rgba(75, 192, 192, 1)', 
                            'rgba(153, 102, 255, 1)', 
                            'rgba(255, 159, 64, 1)' ,
                            'rgba(255,99,132,1)', 
                            'rgba(54, 162, 235, 1)', 
                            'rgba(255, 206, 86, 1)', 
                            'rgba(75, 192, 192, 1)', 
                            'rgba(153, 102, 255, 1)', 
                            'rgba(255, 159, 64, 1)' ,
                            'rgba(255,99,132,1)', 
                            'rgba(54, 162, 235, 1)', 
                            'rgba(255, 206, 86, 1)', 
                            'rgba(75, 192, 192, 1)', 
                            'rgba(153, 102, 255, 1)', 
                            'rgba(255, 159, 64, 1)' ,
                            'rgba(255,99,132,1)', 
                            'rgba(54, 162, 235, 1)' 
                        ], 
            borderWidth : 1 
                  } 
                ] 
              }, 
              options: { 
                    scales: { 
                        yAxes: [{ 
                            ticks: { 
                                beginAtZero:true 
                            } 
                        }] 
                    } 
                } 
            });
        </script>
      </div>
      <script>            
            function search() { 
                var ws_result = document.getElementById('ws_result');
                ws_result.innerHTML = '';
                const comment = [];
                const word = document.getElementById('word').value;
                var x = 1;
                '<% for(var i = 0; i < full_comments.length ; i++) { %>'
                    if('<%=full_comments[i]%>'.indexOf(word) != -1) {
                        comment.push('<%=full_comments[i]%>');
                        var make_div = document.createElement('div')
                        make_div.innerHTML = x + '.  ' + '<%=full_comments[i]%>';
                        make_div.setAttribute("class", "srdiv");
                        ws_result.appendChild(make_div)
                        x++;
                    }
               '<% } %>'
                document.getElementById('word').value = null;
                var open_div = document.getElementById('ws_result_div');
                open_div.style.display = 'block';
            }
      </script>
</body>
</html>